---
layout: layouts/base.njk
permalink: "/index.html"
title: "George Dranichak's Website"
---
<p class="center">Hello! My name is George! Welcome to my website!</p>
<p class="center">I will be using this website as a journal to collect my thoughts, an archive of my academic projects, and a hub for all things "George Dranichak" related.</p>
<figure>
  <img src="/images/millie.jpeg" alt="George with his dog, Millie (circa 2021)">
  <figcaption class="muted center">This is me and my dog, Millie, circa 2021</figcaption>
</figure>
